#trilhaChoiceContent {
  width: 90%;
  margin: 0 auto;
  margin-top: 60px;
  text-align: center;
}

#trilhaChoiceContent h3 {
  text-align: left;
  margin-bottom: 30px;
}

#trilhaChoiceMetas {
  width: 100%;
  background-color: #fff44a;
  padding: 20px;
  box-shadow: 0px 0px 4px rgb(161, 161, 161);
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  text-align: left;
}

#trilhaChoiceMetas img {
  padding: 35px;
}

#trilhaChoiceMetas ul li {
  list-style: none;
  display: inline-block;
  margin-bottom: 30px;
}

#trilhaChoiceMetas a {
  text-decoration: none;
  color: #000;
}

#trilhaChoiceMetas figure {
  width: 280px;
  height: 190px;
  background-color: #fff;
  border: 1px solid #d3d3d3;
  box-shadow: 0px 0px 4px rgba(195, 195, 195, 0.6);
}

#trilhaChoiceMetas figure img {
  width: 280px;
  height: 150px;
  padding: 10px;
}

#trilhaChoiceMetas figcaption {
  text-align: center;
}

#informativoFormacao {
  text-align: left;
  margin-bottom: 60px;
}
