#popularesContainer {
  width: 90%;
  margin: 0 auto;
  margin-top: 60px;
}

#popularesContainer h2 {
  margin-bottom: 20px;
}

.positionCourse {
  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  padding-top: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
  position: relative;
}

.popularesCursosContent {
  width: 76%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  padding-bottom: 80px;
}

.popularesCursosContent a {
  text-decoration: none;
  color: #000;
}

.popularesCursosContent figure {
  width: 220px;
  height: 165px;
  background-color: #fff;
  border: 1px solid #afd5f8;
  box-shadow: 0px 0px 4px rgba(195, 195, 195, 0.6);
  margin-right: 23px;
  margin-bottom: 27px;
}

.popularesCursosContent figure img {
  width: 220px;
  height: 130px;
  padding: 10px;
  margin-top: -50px;
}

.popularesCursosContent figcaption {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  #rightContentComponent {
    display: none;
  }

  .popularesCursosContent {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #popularesContainer h2 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: -40px;
  }
}
