#crudContainer {
  width: 90%;
  margin: 0 auto;
  margin-top: 60px;
}

#cursos {
  margin-bottom: 20px;
}

#cursos h2 {
  margin-bottom: 20px;
}

#containerButtons {
  display: flex;
  justify-content: space-between;
}
