#pesquisaContent {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

#pesquisaContent label img {
  position: relative;
  left: 30px;
  top: 10px;
  padding: 2.1px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(1, 92, 122);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#pesquisaContent input[type='search'] {
  width: 70%;
  height: 30px;
  margin-bottom: 30px;
  padding-left: 40px;
  color: #000;
  font-size: 16px;
  border-radius: 20px;
  border: 1px solid rgb(182, 182, 182);
}

#pesquisaContent input[type='search']:focus {
  outline: none;
}

#pesquisaContent input[type='search']:active {
  outline: none;
}

#pesquisaContent h3 {
  text-align: center;
}

.pesquisaContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 80px;
}

.pesquisaContainer a {
  text-decoration: none;
  color: #000;
  width: 220px;
  height: 165px;
  margin-right: 23px;
  margin-bottom: 60px;
}

.pesquisaContainerfigcaption {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  #pesquisaContent h3 {
    font-size: 14px;
  }

  .pesquisaContainer {
    display: flex;
    justify-content: center;
    width: 105%;
  }

  #pesquisaContent input[type='search'] {
    margin-left: -30px;
  }

  #pesquisaContent label img {
    left: -2px;
  }
}
