#formatoContainer {
  width: 90%;
  margin: 0 auto;
  margin-top: 60px;
}

#formatoContainer h2 {
  margin-bottom: 20px;
}

.formatoCourse {
  width: 120px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  padding-top: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  float: right;
  margin-left: 10px;
  position: relative;
  color: rgb(0, 177, 53);
}

.formatoCursosContent {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  padding-bottom: 80px;
}

.formatoCursosContent a {
  text-decoration: none;
  color: #000;
}

.formatoCursosContent figure img {
  width: 220px;
  height: 130px;
  padding: 10px;
  margin-top: -50px;
}

.formatoCursosContent figure img:hover {
  padding-top: 0px;
  padding-right: 2px;
  padding-left: 0px;
  transition: 0.5s;
}

.formatoCursosContent figcaption {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .formatoCursosContent {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 10px;
  }

  #formatoContainer h2 {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
