.header {
  width: 100%;
  box-shadow: 0px 0px 4px rgba(68, 68, 68, 0.6);
}

.header .topHeader {
  height: 46px;
  background-color: #186095;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.topHeader ul {
  margin-left: auto;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  height: 50px;
}

.topHeader ul li {
  display: inline;
}

.topHeader ul li h2 {
  text-shadow: 0px 0px 1px #000, 0px 0px 1px #000, 0px 0px 1px #000;
  color: rgb(251, 251, 242);
}

.topHeader ul li img {
  width: 70px;
  height: 40px;
  margin-left: -20px;
}

.topHeader ul li:last-child img {
  width: 50px;
  height: 42px;
  display: none;
}

.topHeader ul li:last-child img:hover {
  color: #fff44a;
}

.dropdown-content {
  display: none;
}

.bottomHeader {
  height: 30px;
  background-color: #fff;
}

.bottomHeader ul {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  height: 30px;
}

.bottomHeader ul li {
  display: inline;
  margin-right: 20px;
}

.bottomHeader ul li:last-child {
  display: inline;
  margin-right: 0px;
}

.bottomHeader ul li a {
  text-decoration: none;
  color: black;
  padding-bottom: 4px;
}

.bottomHeader ul li a:hover {
  border-bottom: 2px solid #fff44a;
}

@media only screen and (max-width: 600px) {
  .topHeader ul li:last-child img {
    width: 30px;
    height: 40px;
    display: block;
    cursor: pointer;
  }

  .bottomHeader {
    display: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    z-index: 2;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #186095;
    min-width: 200px;
    min-height: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 40.5px;
    right: -27px;
  }

  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
  }

  .dropdown-content a:hover {
    background-color: #2590dd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  .topHeader ul li h2 {
    font-size: 20px;
    margin-right: 30px;
  }
}
