#rightContentHPComponent {
  width: 20%;
  position: absolute;
  top: 139px;
  right: 0;
  margin-right: 50px;
  padding-bottom: 80px;
}

#rightContentHPComponent h2 {
  margin-bottom: 14px;
}

#rightContentHPComponentBoard {
  border: 1px solid #a0982e;
  width: 100%;
  height: 100%;
  background-color: #fff34a96;
  text-align: justify;
}

#rightContentHPComponentBoard p {
  padding: 10px;
}
