#cursosContentFerramentas {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  #cursosContentFerramentas {
    width: 100%;
    text-align: center;
  }
}
