#cursosContentFerramentas {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 80px;
}

#cursosContentFerramentas figure {
  margin-bottom: 20px;
  
}

#cursosContentFerramentas a {
  width: 222px;
  height: 180px;
}

@media only screen and (max-width: 600px) {
  #cursosContentFerramentas {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 80px;
    margin-left: 20px;
  }


  

}
