#satisfacaoContainer {
  width: 90%;
  margin: 0 auto;
  margin-top: 60px;
}

#titleContent {
  margin-bottom: 20px;
}

.positionCourse {
  width: 60px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  padding: 15px 5px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-left: 9px;
  position: relative;
}

.satisfacaoCursosContent {
  width: 76%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  padding-bottom: 80px;
}

.satisfacaoCursosContent a {
  text-decoration: none;
  color: #000;
  width: 220px;
  height: 165px;
  margin-right: 23px;
  margin-bottom: 23px;
}

.satisfacaoCursosContent figcaption {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  #rightContentComponent {
    display: none;
  }

  .satisfacaoCursosContent {
    display: flex;
    justify-content: center;
    width: 105%;
  }

  #titleContent {
    display: flex;
    justify-content: center;
  }
}
