* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background: #f9f9f9;
}

p {
  color: #000000;
}

#container {
  width: 90%;
  margin: 0 auto;
  margin-top: 60px;
}

#titleContent {
  margin-bottom: 20px;
}

#cursosContent {
  width: 76%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  padding-bottom: 80px;
}

#cursosContent a {
  text-decoration: none;
  color: #000;
}

figure {
  width: 220px;
  height: 200px;
  background-color: #fff;
  box-shadow: 0px 0px 4px #afd5f8;
  margin-right: 21px;
  margin-bottom: 27px;
  border-radius: 5px;
}

.priceTag {
  font-weight: bold;
  text-align: center;
  padding: 2px;
}

figure img {
  width: 220px;
  height: 130px;
  object-fit: cover;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
}

#cursosContent figcaption {
  text-align: center;
}
/*

.cardPriceCourse {
  width: 60%;
  height: 50px;
  background-color: rgb(255, 255, 255);
  padding-top: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  float: right;
  margin-left: 10px;
  position: relative;
  border-top-right-radius: 2%;
  border-bottom-left-radius: 3px;
  border-top: none;
  border-right: none;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 177, 53);
  z-index: 2;
}
*/

@media only screen and (max-width: 600px) {
  #cursosContent {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 10px;
  }

  #container h2 {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #rightContentComponent {
    display: none;
  }
}
