.homePageContainer {
  width: 90%;
  margin: 0 auto;
  margin-top: 59px;
  padding-bottom: 80px;
}

.pageTitleHomePage {
  margin-bottom: 15.5px;
}

.melhoresCursosContent {
  width: 76%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.pageTitleHomePage h2 {
  float: left;
}

.pageTitleHomePage a img {
  margin-left: 5px;
}

figure {
  width: 220px;
  height: 165px;
  background-color: #fff;
  border: 1px solid #afd5f8;
  box-shadow: 0px 0px 4px rgba(195, 195, 195, 0.6);
  margin-right: 23px;
  margin-bottom: 27px;
}

.melhoresCursosContent a {
  text-decoration: none;
  color: black;
  width: 220px;
  margin-right: 23px;
}

.configuraSkt {
  margin-bottom: 30px;
}

figure img {
  width: 220px;
  height: 130px;
  object-fit: cover;
  padding: 10px;
  margin-top: -50px;
  object-fit: cover;
}

figcaption {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0px 10px 10px 10px;
}

.baratoHPCourse {
  width: 120px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  padding-top: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  float: right;
  margin-left: 10px;
  position: relative;
  color: rgb(0, 177, 53);
  z-index: 1;
}

#cursoQuadrado {
  width: 220px;
  margin-right: 23px;
}

#cursoQuadrado .baratoHPCourse {
  height: 51px;
}

#cursoQuadrado h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#cursoQuadrado .aFigure {
  width: 100px;
  text-decoration: none;
  color: #000;
}

#demaisCursos {
  display: flex;
  flex-wrap: wrap;
  width: 76%;
  margin-bottom: 40px;
}

#demaisCursoTopo h2 {
  width: 74%;
  padding: 5px;
  margin-bottom: 20px;
  background-image: linear-gradient(
    to right,
    #186195,
    rgba(0, 153, 255, 0.342)
  );
}

#demaisCursos h2 {
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
  background-image: linear-gradient(
    to right,
    #186195,
    rgba(0, 153, 255, 0.342)
  );
}

#cursoQuadrado {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cursoQuadradoFormato {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cursoQuadradoFormato a {
  border: 1px solid rgb(95, 95, 95);
  border-radius: 5px;
  text-align: center;
  background-color: rgb(238, 238, 238);
  cursor: pointer;
  color: #000;
  text-decoration: none;
  margin-bottom: 20px;
}

.cursoQuadradoFormato h3 {
  padding: 16px 15px 0px 15px;
}

.cursoQuadradoFormato a:hover {
  background-color: rgb(245, 250, 199);
}

#demaisCursos #cursoQuadrado h3 {
  float: left;
  width: 80%;
  margin-right: 5px;
}

#demaisCursos a img {
  position: relative;
  top: -1px;
}

@media only screen and (max-width: 600px) {
  .pageTitleHomePage h2 {
    margin-left: 30px;
  }

  .melhoresCursosContent {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .melhoresCursos {
    display: flex;
    justify-content: center;
    margin-left: -30px;
  }

  #demaisCursos {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  #rightContentHPComponent {
    display: none;
  }

  #demaisCursos h2 {
    text-align: center;
    width: 100%;
  }
}
